# Sample configuration file for collector
#
# collector uses the toml configuration format. See
# https://github.com/toml-lang/toml for details.
#

[inputs]
 [inputs.config-sample]
 type = "file"
 path = "config.sample"
 outputs = ["stdout", "gelf-udp"]

[outputs]
  [outputs.gelf-udp]
  type = "gelf-udp"
  host = "127.0.0.1"
  port = 12201
  client-queue-size = 512

  [outputs.stdout]
  type = "stdout"